body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: white;
    background-image: url(/media/img/background.png);
    background-repeat: repeat-x;
    background-position: 0 40px;
}
.escrachado { background-color: red; }
#submit_button { cursor: pointer; }
.required { color: #B94A48; }

.sidebar-nav {
    padding: 9px 0;
}
