# Requerimientos python para utilizar Cualbondi

PIL
Django==1.4
psycopg2
python-memcached
django-olwidget
django-floppyforms
django-piston
django-imagekit
pymongo
django-sentry
South

#django-moderation
