{% extends "base.html" %}

{% block title %}Cualbondi - Buscador de recorridos de micros en la ciudad de {{ciudad_actual.nombre|title}}{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                {% include "navbar.html"%}
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_styles %}
    <link href="{{ STATIC_URL }}css/buscador.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="bloque_izquierda">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">¿Cómo llegar?</a></li>
                <li><a href="#2" data-toggle="tab">Recorridos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    <input type="text" id="inputDesde" class="input-block-level" placeholder="Desde" {% if desde %}value="{{desde}}"{% endif %}>
                    <input type="text" id="inputHasta" class="input-block-level" placeholder="Hasta" {% if hasta %}value="{{hasta}}"{% endif %}>
                    <p><small>Ejemplos: {{ ciudad_actual.sugerencia }}</small></p>
                    <div class="btn-group">
                        <a id="button-origendestino" class="btn" title="Cambiar origen por destino"><i class="icon-refresh"></i></a>
                        <a id="button-ayuda" class="btn" title="Ayuda"><i class="icon-question-sign"></i></a>
                    </div>
                    <button id="button-buscarinputs" class="btn btn-primary pull-right" title="Buscar recorridos" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                    <div style="clear:both;"></div>
                    <hr>
                    <div id="sidebarResultados"></div>
                </div>
                <div class="tab-pane" id="2">
                    <input type="text" id="inputLinea" class="input-block-level" placeholder="Linea, ramal o recorrido">
                    <button id="button-buscarnombre" class="btn btn-primary pull-right" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                    <div style="clear:both;"></div>
                    <hr>
                    <div id="sidebarResultadosPorNombre"></div>
                </div>
            </div>
            <div id="sidebarContenido"></div>
        </div>
        <div align="center">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-1193419141108967";
            /* Anuncio 234x60 n1 */
            google_ad_slot = "9820069640";
            google_ad_width = 234;
            google_ad_height = 60;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </div>
    <div id="bloque_derecha">
        <div id="mapa" class="shadowbox"></div>
    </div>
{% endblock %}

{% block custom_scripts %}
<script>
    $(document).ready(function(){
        $(window).bind('resize', function() {
            check_layout();
        })
        check_layout();
    })
</script>

{% block custom_scripts %}
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}js/jquery.RC4.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;libraries=adsense&amp;sensor=false"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/openlayers/style.css" type="text/css" />

<script>
    var GLOBAL_ci = "{{ ciudad_actual.slug }}";
    var ciudad_actual_coord1 = new Array{{ ciudad_actual.centro.coords }}[0];
    var ciudad_actual_coord2 = new Array{{ ciudad_actual.centro.coords }}[1];
    var ciudad_actual_zoom = {{ ciudad_actual.zoom }};
    var STATIC_URL = "{{ STATIC_URL }}";
</script>
<script src="{{ STATIC_URL }}js/functions-2.0.js"></script>

       <script id="ajaxLoader" type="text/x-jquery-tmpl">
            <center>
                <img src="{{ STATIC_URL }}img/ajax-loader.gif" />
            </center>
        </script>

        <script id="listTempl" type="text/x-jquery-tmpl">
            <div>
                <div style="float:left;"><small>Página ${data['p']} de ${data['cant_paginas']}</small></div>
                <div style="float:right;"><small class="pull-right">${data['cant']} resultados</small></div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <ul class="nav nav-pills nav-stacked">
                    {% templatetag openvariable %}tmpl(data['resultados']) "#itemTempl"{% templatetag closevariable %}
                </ul>
                {% templatetag openvariable %}tmpl(data) "#paginacionTempl"{% templatetag closevariable %}
            </div>
        </script>

        <script id="itemTempl" type="text/x-jquery-tmpl">
            <li id="res${id}">
                <a href="#" id="${id}">
                    {% templatetag openvariable %}each itinerario{% templatetag closevariable %}
                        <div style="margin:0; padding:0">
                            <img src="{{ STATIC_URL }}img/micros/30x35/${foto}.png" style="float:left; margin-top: 4px; margin-right: 4px"/>
                            <strong>${nombre}</strong>
                            <br>
                            de ${inicio} a ${fin}
                            <br>
                            distancia: {% templatetag openvariable %}if long_pata{% templatetag closevariable %}${Math.round(long_pata)} m (pie) + {% templatetag openvariable %}/if{% templatetag closevariable %}${Math.round(long_bondi/100)/10} km (bondi)
                        </div>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </a>
            </li>
        </script>

        <script id="paginacionTempl" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}if Math.ceil(cant/long_pagina) > 1{% templatetag closevariable %}
            <div class="pagination pagination-centered">
                <ul>
                    {% templatetag openvariable %}if p > 1{% templatetag closevariable %}
                        <li><a href="#" data_pagina="-1" combinar="${combinar}">«</a></li>
                    {% templatetag openvariable %}/if{% templatetag closevariable %}

                    {% templatetag openvariable %}each page_list{% templatetag closevariable %}
                        <li><a href="#" data_pagina="${$value}" combinar="${combinar}">${$value}</a></li>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}

                    {% templatetag openvariable %}if p < Math.ceil(cant/long_pagina){% templatetag closevariable %}
                        <li><a href="#" data_pagina="0" combinar="${combinar}">»</a></li>
                    {% templatetag openvariable %}/if{% templatetag closevariable %}
                </ul>
            </div>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        </script>

        <script id="listSuggest" type="text/x-jquery-tmpl">
        <p>Seleccione la opción correcta</p>
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Origen:</li>
            </ul>
            {% templatetag openvariable %}if (data1.length>0){% templatetag closevariable %}
                <ul id="#sug1" class="nav nav-list">
                    {% templatetag openvariable %}tmpl(data1) "#itemSuggest"{% templatetag closevariable %}
                </ul>
            {% templatetag openvariable %}else{% templatetag closevariable %}
                {% templatetag openvariable %}tmpl() "#itemSuggestVacio"{% templatetag closevariable %}
            {% templatetag openvariable %}/if{% templatetag closevariable %}
            <ul class="nav nav-list">
                <li class="nav-header">Destino:</li>
            </ul>
            {% templatetag openvariable %}if (data2.length>0){% templatetag closevariable %}
                <ul id="#sug2" class="nav nav-list">
                    {% templatetag openvariable %}tmpl(data2) "#itemSuggest"{% templatetag closevariable %}
                </ul>
            {% templatetag openvariable %}else{% templatetag closevariable %}
                {% templatetag openvariable %}tmpl() "#itemSuggestVacio"{% templatetag closevariable %}
            {% templatetag openvariable %}/if{% templatetag closevariable %}
            <div>
                &nbsp;
                <button id="button-seleccionarSugerencias" class="btn btn-primary pull-right" type="submit">Aceptar</button>
            </div>
        </ul>
        </script>

        <script id="itemSuggest" type="text/x-jquery-tmpl">
            <li id="sug${domId}{porNombre}">
                <a class="marcarSuggest" href="#" data_geom="${geom}" data_id="${id}" data_domId="${domId}">${nombre} <span class="distancia">(${(precision*100).toFixed(2)}%)</span></a>
            </li>
        </script>
        <script id="itemSuggestVacio" type="text/x-jquery-tmpl">
            <ul class="nav nav-list">
                <li class="disabled">
                    No se encontraron resultados para esta búsqueda, por favor inténtelo nuevamente modificando las palabras de búsqueda por algo mas sencillo.
                </li>
            </ul>
        </script>

        <script id="ayudaTempl" type="text/x-jquery-tmpl">
           <h3>¿Como busco recorridos?</h3>
           <h4>Campos de búsqueda</h4>
           <p>Escriba directamente en los campos de texto del panel superior. Puede considerar interseccion de calles, calle y número o lugares de interes. Vea los ejemplos debajo de los campos de búsqueda.</p>
           <h4>Click sobre el mapa</h4>
           <p> hacer click directamente sobre el mapa para indicar el Origen y Destino de su búsqueda. Luego puede arrastrar los marcadores A o B para editar su ubicación.</p>
           <h4>Lineas de micro</h4>
           <p>Para buscar un recorrido completo de una linea de colectivo en particular, consulte la sección "Recorridos" aqui arriba.</p>
        </script>

        <script id="vacio1Templ" type="text/x-jquery-tmpl">
           <h3>No se encontraron resultados sin transbordo</h3>
           <p>Si igualmente desea buscar con transbordo, presione el siguiente botón.</p>
           <button id="button_buscar_transbordo" class="btn btn-primary">Buscar con Transbordo</button>
        </script>
        <script id="vacio2Templ" type="text/x-jquery-tmpl">
           <h3>No se encontraron resultados con transbordo</h3>
           <p>Puede intentar haciendo click en el mapa para posicionar marcadores de inicio y fin de recorrido o bien mover los marcadores si ya se encuentran en el mapa.</p>
        </script>
        <script id="vacioTempl" type="text/x-jquery-tmpl">
           <h3>No se encontraron resultados</h3>
           <p>Puede intentar nuevamente modificando el nombre de la línea que está buscando por algo mas genérico.</p>
        </script>
{% endblock %}
