{% extends "base.html" %}

{% block title %}Cualbondi - Buscador de recorridos de micros en la ciudad de {{ciudad_actual.nombre|title}}{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                {% include "navbar.html"%}
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_styles %}
    <link href="{{ STATIC_URL }}css/buscador.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {#% include "facebook_sdk.html" %#}
    {#% include "twitter_sdk.html" %#}
    <div id="bloque_izquierda">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">¿Cómo llegar?</a></li>
                <li><a href="#2" data-toggle="tab">Recorridos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    {% if show_android_alert %}
                    <div class="alert alert-success">
                      <button type="button" class="close android-app-alert-close" data-dismiss="alert">&times;</button>
                      <strong>Atención!</strong> Ahora Cualbondi también en tu celular! Descargate la App para Android haciendo click <a href="http://bit.ly/HfmNTT">acá</a>
                    </div>
                    {% endif %}
                    <input type="text" id="inputDesde" class="input-block-level" placeholder="Desde" {% if desde %}value="{{desde}}"{% endif %}>
                    <input type="text" id="inputHasta" class="input-block-level" placeholder="Hasta" {% if hasta %}value="{{hasta}}"{% endif %}>
                    <p><small>Ejemplos: {{ ciudad_actual.sugerencia }}</small></p>
                    <div id="button-radio-container">
                        <small id="button-radio-value">Caminar max. 300 metros</small>
                        <input id="button-radio" type="text" size="5" value="300" data-slider="true" data-slider-range="200,800" data-slider-step="1">
                    </div>
                    <div class="btn-group">
                        <a id="button-origendestino" class="btn" title="Cambiar origen por destino"><i class="icon-refresh"></i></a>
                        <a class="btn" data-toggle="dropdown"><i class="icon-trash"></i></a>
                        <ul class="dropdown-menu">
                            <li><a id="button-limpiar" tabindex="-1">Limpiar todo</a></li>
                        </ul>
                        <a id="button-ayuda" class="btn" title="Ayuda"><i class="icon-question-sign"></i></a>
                    </div>
                    <div id="modal-ayuda" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>Ayuda</h3>
                        </div>
                        <div id="modal-ayuda-content" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>
                    <button id="button-buscarinputs" class="btn btn-primary pull-right" title="Buscar recorridos" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                    <div style="clear:both;"></div>

<!--                    <div style="margin-top: 15px;"
                         class="fb-like"
                         data-href="http://facebook.com/cualbondi"
                         data-width="365"
                         data-height="The pixel height of the plugin"
                         data-colorscheme="light"
                         data-layout="standard"
                         data-action="like"
                         data-show-faces="true"
                         data-send="false">
                    </div>

                    <div style="margin-top: 3px;">
                        <a href="https://twitter.com/cualbondi"
                           class="twitter-follow-button"
                           data-show-count="false"
                           data-lang="es">Seguir a @cualbondi</a>
                    </div>
!-->
                    <hr style="margin: 15px 0;">

                    <div align="center">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- buscador_arriba_resultados -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:234px;height:60px"
                             data-ad-client="ca-pub-1193419141108967"
                             data-ad-slot="6889578320"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    <div id="sidebarResultados"></div>
                </div>
                <div class="tab-pane" id="2">
                    <input type="text" id="inputLinea" class="input-block-level" placeholder="Linea, ramal o recorrido">
                    <button id="button-buscarnombre" class="btn btn-primary pull-right" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
                    <div style="clear:both;"></div>
                    <hr>
                    <div id="sidebarResultadosPorNombre"></div>
                </div>
                <div align="center">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- buscador_abajo_resultados -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:234px;height:60px"
                         data-ad-client="ca-pub-1193419141108967"
                         data-ad-slot="9820069640"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div id="sidebarContenido"></div>
        </div>
    </div>
    <div id="bloque_derecha">
        <div style="position:absolute; z-index: 1000; top: 0px; right: 5px;">
            {% include "slider_anuncios.html" %}
        </div>
        <div id="mapa" class="shadowbox"></div>
    </div>
{% endblock %}

{% block custom_scripts %}
<script>
    $(document).ready(function(){
        $(window).bind('resize', function() {
            check_layout();
        })
        check_layout();

        $('.slider-anuncios').bxSlider({
            slideWidth: 300,
            pager: false,
            auto: true,
            autoHover: true,
            controls: false
        });
    })
</script>

<script src="{{ STATIC_URL }}js/jquery.RC4.min.js"></script>
<script src="{{ STATIC_URL }}js/simple-slider.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/wicket.js"></script>
<script src="{{ STATIC_URL }}js/wicket-leaflet.js"></script>
<script src="{{ STATIC_URL }}js/leaflet.editableCircleMarker.js"></script>
<script src="{{ STATIC_URL }}js/leaflet.polyLineDecorator.js"></script>

<script>
    var GLOBAL_ci = "{{ ciudad_actual.slug }}";
    var ciudad_actual_coord1 = new Array{{ ciudad_actual.centro.coords }}[0];
    var ciudad_actual_coord2 = new Array{{ ciudad_actual.centro.coords }}[1];
    var ciudad_actual_zoom = {{ ciudad_actual.zoom }};
    var STATIC_URL = "{{ STATIC_URL }}";
</script>
<script src="{{ STATIC_URL }}js/functions-2.0.js?v=20160925"></script>

       <script id="ajaxLoader" type="text/x-jquery-tmpl">
            <center>
                <img src="{{ STATIC_URL }}img/ajax-loader.gif" />
            </center>
        </script>

        <script id="listTempl" type="text/x-jquery-tmpl">
            <div>
                <div style="float:left;"><small>Página ${data['page']} de ${data['page_count']}</small></div>
                <div style="float:right;"><small class="pull-right">${data['count']} resultados</small></div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <ul class="nav nav-pills nav-stacked">
                    {% templatetag openvariable %}tmpl(data['results']) "#itemTempl"{% templatetag closevariable %}
                </ul>
                {% templatetag openvariable %}tmpl(data) "#paginacionTempl"{% templatetag closevariable %}
            </div>
        </script>

        <script id="itemTempl" type="text/x-jquery-tmpl">
            <li class="itemResultado" id="res${id}">
                <a href="#" id="${id}">
                    {% templatetag openvariable %}each itinerario{% templatetag closevariable %}
                        <div class="itinerario">
                            <img src="{{ STATIC_URL }}img/micros/30x35/${foto}.png" style="float:left; margin-top: 4px; margin-right: 4px"/>
                            <strong>${nombre}</strong>
                            <br>
                            de ${inicio} a ${fin}
                            <br>
                            distancia: {% templatetag openvariable %}if long_pata{% templatetag closevariable %}${Math.round(long_pata)} m (pie) + {% templatetag openvariable %}/if{% templatetag closevariable %}${Math.round(long_bondi/100)/10} km (bondi)
                            <span class="botones">
								<span href="${url}" class="btn btn-mini" title="Ver información, horarios y paradas de la línea ${nombre}" target="_blank"><i class="icon-info-sign"></i></span>
								<span href="/editor/${id}" class="btn btn-mini" title="Editar recorrido" target="self"><i class="icon-pencil"></i></span>
                            </span>
                        </div>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </a>
            </li>
        </script>

        <script id="paginacionTempl" type="text/x-jquery-tmpl">
        {% templatetag openvariable %}if page_count > 1{% templatetag closevariable %}
            <div class="pagination pagination-centered">
                <ul>
                    {% templatetag openvariable %}if page > 1{% templatetag closevariable %}
                        <li><a href="#" data_pagina="-1" combinar="${combinar}">«</a></li>
                    {% templatetag openvariable %}/if{% templatetag closevariable %}

                    {% templatetag openvariable %}each page_list{% templatetag closevariable %}
                        <li><a href="#" data_pagina="${$value}" combinar="${combinar}">${$value}</a></li>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}

                    {% templatetag openvariable %}if page < page_count{% templatetag closevariable %}
                        <li><a href="#" data_pagina="0" combinar="${combinar}">»</a></li>
                    {% templatetag openvariable %}/if{% templatetag closevariable %}
                </ul>
            </div>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        </script>

        <script id="listSuggest" type="text/x-jquery-tmpl">
        <h4>Quiz&aacute;s quiso decir...</h4>
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Desde:</li>
            </ul>
            {% templatetag openvariable %}if (data1.length>0){% templatetag closevariable %}
                <ul id="#sug1" class="nav nav-list">
                    {% templatetag openvariable %}tmpl(data1) "#itemSuggest"{% templatetag closevariable %}
                </ul>
            {% templatetag openvariable %}else{% templatetag closevariable %}
                {% templatetag openvariable %}tmpl() "#itemSuggestVacio"{% templatetag closevariable %}
            {% templatetag openvariable %}/if{% templatetag closevariable %}
            <ul class="nav nav-list">
                <li class="nav-header">Hasta:</li>
            </ul>
            {% templatetag openvariable %}if (data2.length>0){% templatetag closevariable %}
                <ul id="#sug2" class="nav nav-list">
                    {% templatetag openvariable %}tmpl(data2) "#itemSuggest"{% templatetag closevariable %}
                </ul>
            {% templatetag openvariable %}else{% templatetag closevariable %}
                {% templatetag openvariable %}tmpl() "#itemSuggestVacio"{% templatetag closevariable %}
            {% templatetag openvariable %}/if{% templatetag closevariable %}
            <div>
                &nbsp;
                <button id="button-seleccionarSugerencias" class="btn btn-primary pull-right" type="submit">Aceptar</button>
            </div>
        </ul>
        </script>

        <script id="itemSuggest" type="text/x-jquery-tmpl">
            <li id="sug${domId}{porNombre}">
                <a class="marcarSuggest" href="#" data_geom="${geom}" data_id="${id}" data_domId="${domId}">${nombre}<!-- ${(precision*100).toFixed(2)}% !--></a>
            </li>
        </script>
        <script id="itemSuggestVacio" type="text/x-jquery-tmpl">
            <ul class="nav nav-list">
                <li class="disabled">
                    No se encontraron resultados para esta búsqueda, por favor inténtelo nuevamente modificando las palabras de búsqueda por algo mas sencillo.
                </li>
            </ul>
        </script>

        <script id="ayudaTempl" type="text/x-jquery-tmpl">
           <h4>¿Cómo busco recorridos?</h4>
           <h5>Campos de búsqueda</h5>
           <p>Escriba directamente en los campos de texto del panel superior. Puede considerar intersección de calles, calle y número o lugares de interes. Vea los ejemplos debajo de los campos de búsqueda.</p>
           <h5>Click sobre el mapa</h5>
           <p>Hacer click directamente sobre el mapa para indicar el Origen y Destino de su búsqueda. Luego puede arrastrar los marcadores A o B para editar su ubicación.</p>
           <h5>Lineas de micro</h5>
           <p>Para buscar un recorrido completo de una linea de colectivo en particular, consulte la sección "Recorridos" aquí arriba.</p>
        </script>

        <script id="vacio1Templ" type="text/x-jquery-tmpl">
           <h4>No se encontraron resultados sin transbordo</h4>
           <p>Si igualmente desea buscar con transbordo, presione el siguiente botón.</p>
           <button id="button_buscar_transbordo" class="btn btn-primary">Buscar con Transbordo</button>
        </script>
        <script id="vacio2Templ" type="text/x-jquery-tmpl">
           <h4>No se encontraron resultados con transbordo</h4>
           <p>Puede intentar haciendo click en el mapa para posicionar marcadores de inicio y fin de recorrido o bien mover los marcadores si ya se encuentran en el mapa.</p>
        </script>
        <script id="vacioTempl" type="text/x-jquery-tmpl">
           <h4>No se encontraron resultados</h4>
           <p>Puede intentar nuevamente modificando el nombre de la línea que está buscando por algo mas genérico.</p>
        </script>
{% endblock %}
