{% extends "base.html" %}

{% block custom_styles %}
    <link href="/media/css/seleccionar_ciudad.css" rel="stylesheet" type="text/css" />
{% endblock %}

<!--Este es un template distinto a todos, por eso redefine el blocke "content" -->
{% block content %}
    <div>
        <div align="center">
            <h1 style="font-size: 55px;">Bienvenido a Cualbondi!</h1>
            <p class="lead"><em>Seleccioná tu ciudad para comenzar a buscar...</em></p>
        </div>
        <div class="block-wrapper">
            <div class="floated-left" align="center" style="min-width: 300px; margin-top: 20px;"><img style="min" src="/media/img/isologo.png"></div>
            <div class="floated-left bs-docs-sidebar" style="min-width: 300px; margin-top: 20px;">
                <ul class="nav nav-list bs-docs-sidenav">
                    {% for ciudad in ciudades %}
                    <li><a href="/mapa/{{ciudad.slug}}/"><i class="icon-chevron-right"></i> {{ciudad.nombre}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
