{% extends "maquetado.html" %}

{% block bloque_izquierda %}
    <ul class="breadcrumb">
        <li><a href="/">Inicio</a> <span class="divider">></span></li>
        <li><a href="/{{ciudad_actual.slug}}">{{ciudad_actual.nombre}}</a> <span class="divider">></span></li>
        <li><a href="/{{ciudad_actual.slug}}/{{linea_actual.slug}}">{{linea_actual.nombre}}</a> <span class="divider">></span></li>
        <li class="active">{{recorrido_actual.nombre}} (de {{recorrido_actual.inicio}} a {{recorrido_actual.fin}})</li>
    </ul>

    <h1>{{linea_actual.nombre}} {{recorrido_actual.nombre}}</h1>
    {% if user.is_authenticated %}
        {% if favorito %}
        <button id="btn-favorito" class="btn btn-danger"><i class="icon-heart"></i> <strong>Borrar de favoritos</strong></button>
        {% else %}
        <button id="btn-favorito" class="btn btn-warning"><i class="icon-heart"></i> <strong>Guardar en favoritos</strong></button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block custom_ready_function %}
    $("#btn-favorito").click(function(){
        $("#btn-favorito").toggleClass("btn-warning")
    })
{% endblock %}
