{% extends "contenido.html" %}

{% load comments %}
{% load bootstrap_tags %}

{% block custom_top_scripts %}
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
    <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css" />
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb">
        <li><a href="/">Inicio</a> <span class="divider">></span></li>
        <li class="active">{{ciudad_actual.nombre}}</li>
    </ul>

    <h1>Ciudad de {{ciudad_actual.nombre}}</h1>

    <div id="ciudad_carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="/media/img/ciudades/estadio.jpg" alt="">
                <div class="carousel-caption">
                    <h4>Estadio único</h4>
                    <p>Terrible estado ubicado en 25 y 32.</p>
                </div>
            </div>
            <div class="item">
                <img src="/media/img/ciudades/catedral.jpg" alt="">
                <div class="carousel-caption">
                    <h4>Catedral</h4>
                    <p>Increible catedral ubicada en Plaza Moreno, frente a la municipalidad.</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#ciudad_carousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#ciudad_carousel" data-slide="next">›</a>
    </div>

    {% if ciudad_actual.descripcion %}
        <p>{{ciudad_actual.descripcion}}</p>
    {% endif %}

    <div class="thumbnail"><div id="map" style="background:lightblue; height:300px;"></div></div>

    <h3>Lineas de micro en {{ciudad_actual.nombre}}:</h3>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
        {% for columna in lineas|dividir_columnas:5 %}
            <tr>
            {% for linea in columna %}
                <td><a href={{linea.slug}}/>Linea {{linea.nombre}}<a></td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Dejanos un comentario sobre "{{ciudad_actual.nombre}}"</h3>
{% endblock %}

{% block custom_ready_function %}
    //CAROUSEL
    $('.carousel').carousel()

    //Proyeccion que se necesita para transformar proyecciones mas adelante
    var proj = new OpenLayers.Projection("EPSG:4326");

    //Creamos el mapa
    map = new OpenLayers.Map("map", {theme: null})
    var gmap = new OpenLayers.Layer.Google(
        "Google Streets", {numZoomLevels: 20}
    );
    map.addLayers([gmap]);
    map.setCenter(new OpenLayers.LonLat{{ ciudad_actual.centro.coords }}.transform(
        new OpenLayers.Projection("EPSG:4326"),
        map.getProjectionObject()
    ), {{ ciudad_actual.zoom }});

    //Le agregamos una capa para el poligono de la ciudad
    var style = {'strokeWidth': 2, 'strokeColor': '#0033CC', fillColor: "#0066CC", fillOpacity: 0.5}
    var layer_poligono = new OpenLayers.Layer.Vector("Poligono", {styleMap: new OpenLayers.StyleMap(style) });
    map.addLayer(layer_poligono)

    //Insertamos el poligono en la nueva capa
    poligono_ciudad = new OpenLayers.Format.WKT().read("{{ciudad_actual.envolvente}}");

    poligono_ciudad.geometry.transform(proj, map.getProjectionObject())
    layer_poligono.addFeatures([poligono_ciudad]);

    //Acomodar el zoom al poligono
    var extent = new OpenLayers.Bounds();
    extent.extend(poligono_ciudad.geometry.getBounds())
    map.zoomToExtent(extent);
{% endblock %}

