{% extends "contenido.html" %}
{% load bootstrap_tags %}

{% block title %}Recorrido {{recorrido_actual.nombre|title}} {% if recorrido_actual.inicio and recorrido_actual.fin %} desde {{recorrido_actual.inicio}} hasta {{recorrido_actual.fin}} {% endif %} de la linea {{linea_actual.nombre|title}}, en {{ciudad_actual.nombre|title}} - Cualbondi{% endblock %}
{% block meta_description %}Toda la información sobre paradas, horarios y tarifas del recorrido {{recorrido_actual.nombre|title}} de la línea {{linea_actual.nombre|title}} desde {{recorrido_actual.inicio}} hasta {{recorrido_actual.fin}} en la ciudad de {{ciudad_actual.nombre|title}}: Descripción del recorrido de colectivo, micro, bus.{% endblock %}

{% block head-attrs %} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cualbondi: http://ogp.me/ns/fb/cualbondi#"{% endblock %}

{% block custom_top_scripts %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" /> 
    <meta property="og:type"   content="cualbondi:recorrido" /> 
    <meta property="og:url"    content="{{ HOME_URL }}{{ recorrido_actual.get_absolute_url }}" /> 
    <meta property="og:title"  content="{{linea_actual.nombre|title}} - {{recorrido_actual.nombre|title}}" /> 
    <meta property="og:description"  content="Linea {{linea_actual.nombre|title}}, Ramal {{recorrido_actual.nombre|title}} en {{ciudad_actual.nombre|title}} - Cualbondi{% if recorrido_actual.inicio and recorrido_actual.fin %}, Recorrido desde {{recorrido_actual.inicio}} hasta {{recorrido_actual.fin}} {% endif %} en {{ciudad_actual.nombre|title}}: Descripción del recorrido de colectivo, micro, bus" /> 
    {% if recorrido_actual.img_cuadrada %}<meta property="og:image"  content="{{ HOME_URL }}/{{ recorrido_actual.img_cuadrada.url }}" />{% endif %}
{% endblock %}

{% block bloque_izquierda %}
    <ul class="breadcrumb">
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ HOME_URL }}/" itemprop="url">
                <span itemprop="title">Inicio</span>
            </a>
            <span class="divider">&gt;</span>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ HOME_URL }}/{{ciudad_actual.slug}}/" itemprop="url">
                <span itemprop="title">{{ciudad_actual.nombre}}</span>
            </a>
            <span class="divider">&gt;</span>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ HOME_URL }}/{{ciudad_actual.slug}}/{{linea_actual.slug}}/" itemprop="url">
                <span itemprop="title">{{linea_actual.nombre}}</span>
            </a>
            <span class="divider">&gt;</span>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ HOME_URL }}/{{ciudad_actual.slug}}/{{linea_actual.slug}}/{{recorrido_actual.slug}}/" itemprop="url">
                <span itemprop="title">{{recorrido_actual.nombre}} {% if recorrido_actual.inicio and recorrido_actual.fin %}(de {{recorrido_actual.inicio}} a {{recorrido_actual.fin}}){% endif %}</span>
            </a>
        </li>
    </ul>
    
    <div>
        <h1>
            Recorrido {{linea_actual.nombre}} {{recorrido_actual.nombre}}
            <span style="margin-left:5px;" class="fb-like" data-layout="button_count" data-action="like" data-colorscheme="light" data-show-faces="false" data-share="false"></span>
            {% if recorrido_actual.inicio and recorrido_actual.fin %}<small>desde {{recorrido_actual.inicio}} hasta {{recorrido_actual.fin}}</small>{% endif %}
        </h1>
    </div>

    {% if recorrido_actual.img_panorama %}
    <div class="thumbnail">
	<a href="/editor/{{ recorrido_actual.id }}/" class="btn btn-primary" style="position:absolute; margin:6px">Modificar recorrido</a>
        <div id="map" style="background:lightblue;">
            <img src="/{{ recorrido_actual.img_panorama.url }}" alt="Mapa del recorrido {{ recorrido_actual.nombre }} de la línea {{ linea_actual.nombre }} en la ciudad de {{ ciudad_actual.nombre }}." />
        </div>
    </div>
    <br />
    {% endif %}

    {% if pois %}
        <div class="row-fluid">
            <h2>Puntos de interés por donde pasa</h2>
            {% for columna in pois|dividir_columnas:3 %}
            <div class="span4">
                <ul class="nav nav-pills nav-stacked">
                {% for p in columna %}
                    <li><a href="{{p.get_absolute_url}}">{{ p.nom }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if zonas %}
        <h2>Barrios que transita</h2>
        <ul>
            {% for z in zonas %}
            <li>{{ z.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if calles %}
        <h2>Calles que componen este recorrido</h2>
        <ol>
            {% for c in calles %}
            <li style="color:gray">
                <span style="color:black">{{ c }}</span>
            </li>
            {% endfor %}
        </ol>
    {% else %}
        {% if recorrido_actual.descripcion %}
            <h2>Calles que componen este recorrido</h2>
            <div>{{ recorrido_actual.descripcion }}</div>
        {% endif %}
    {% endif %}

    {% if horarios %}
        <h2>Paradas:</h2>
        <ul>
        {% for h in horarios %}
            <li>{% if h.parada.codigo %}{{ h.parada.codigo }} -{% endif %}{% if h.parada.nombre %} {{ h.parada.nombre }}{% endif %}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if recorridos_similares %}
        <div class="row-fluid">
            <h2>Recorridos similares</h2>
            {% for columna in recorridos_similares|dividir_columnas:3 %}
            <div class="span4">
                <ul class="nav nav-pills nav-stacked">
                {% for rs in columna %}
                    <li><a href="{{rs.get_absolute_url}}">{{rs.linea_nombre}} - {{rs.nombre}}{% if rs.inicio and rs.fin %} <span class="light">de {{rs.inicio}} a {{rs.fin}}</span>{% endif %}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <!--[if (!IE)|(gt IE 7)]-->
    <h2>Dejanos un comentario sobre el recorrido "{{linea_actual.nombre}} {{recorrido_actual.nombre}}"</h2>
	<p>Si el recorrido esta mal, podés ayudar haciendo <a href="/editor/{{ recorrido_actual.id }}/">click acá</a></p>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'cualbondi'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Habilita Javascript para ver los comentarios</noscript>
    <!--[endif]-->
{% endblock %}
