{% extends "maquetado.html" %}
{% load comments %}

{% block bloque_izquierda %}
    <ul class="breadcrumb">
        <li><a href="/">Inicio</a> <span class="divider">></span></li>
        <li class="active">{{ciudad_actual.nombre}}</li>
    </ul>

    <h1>{{ciudad_actual.nombre}}</h1>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
            <th>Nombre de la linea</th>
            </tr>
        </thead>
        <tbody>
        {% for linea in lineas %}
            <tr>
                <td><a href="{{linea.slug}}">{{linea.nombre}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Comentarios:</h3>
    {% render_comment_list for ciudad_actual %}

	{% get_comment_form for ciudad_actual as form %}
	<div class='row-fluid'>
		<div id='nuevo-comentario' class='span12'>
			<h3>Dejanos un comentario:</h3>
            <div id="mensajes-comments"></div>
                <div class="well">
                	<form id="comment-form" action="/comments/post/" method="POST">
	            		{% csrf_token %}
	            		{{ form.content_type }} 
				        {{ form.object_pk }}
				        {{ form.timestamp }}
				        {{ form.security_hash }}
                    	{% if not user.is_authenticated %}
                            <input id="comment-name" name="name" type="text" placeholder="Tu nombre...">
                            <input id="comment-email" name="email" type="text" placeholder="Tu email...">
                        {% endif %}
	            		<textarea class="span12" name='comment' id="comment-textarea" rows="3" placeholder="Tu Comentario..."></textarea>
	            		<input type="hidden" name="next" value="{% url ver_ciudad ciudad_actual.slug %}" />
				        <input type="hidden" name="honeypot" id="id_honeypot" />
				        <br />
				        <button type="submit" class="btn pull-right"><i class="icon-comment"></i> Enviar comentario</button>
			        </form>
			    </div>
		</div>
	</div>

{% endblock %}

{% block custom_ready_function %}
    $("#comment-form").submit(function(event){
        event.preventDefault();
        $.post('/comments/post/',
               $(this).serialize(),
               function(data) {
                    if (data['exito']==true){
                        alert_html = '<div style="width: 780px;" class="alert alert-success fade in" align="center">'
                        alert_html += '<a class="close" data-dismiss="alert" href="#">×</a>Comentario agregado correctamente!</div>'
                        dibujar_comentario(data['comentario'], data['usuario'], data['fecha']);
                        $("#comment-textarea").val('')
                        $("#comment-name").val('')
                        $("#comment-email").val('')
                    }else{
                        alert_html = '<div style="width: 780px;" class="alert alert-error fade in" align="center">'
                        alert_html += '<a class="close" data-dismiss="alert" href="#">×</a>Algo anduvo mal...</div>'
                    }
                    $("#mensajes-comments").html(alert_html)
               },
               'json'
        );
    })
{% endblock %}

