{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html"%}
{% endblock %}

{% block content %}
        <div class="row-fluid">
            <div id="bloque_izquierda" class="span3">
                <div id="sidebar" style="background:white;">

                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#1" data-toggle="tab">¿Cómo llegar?</a></li>
                            <li><a href="#2" data-toggle="tab">Recorridos</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="1">
                                <form>
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-map-marker"></i>A</span>
                                        <input type="text" size="16" id="inputDesde" class="span10" placeholder="Desde">
                                    </div>
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-map-marker"></i>B</span>
                                        <input type="text" size="16" id="inputHasta" class="span10" placeholder="Hasta">
                                    </div>
                                    <p><small>Ejemplos: 14 y 54 || 14 n568 || Catedral</small></p>
                                    <div class="btn-toolbar">
                                        <div class="btn-group pull-left">
                                            <button class="btn btn-primary" type="submit" onclick="javascript:$.cb.click_button_buscar();return false">Buscar</button>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn" title="Cambiar origen por destino"><i class="icon-refresh"></i></a>
                                            <a class="btn" title="Ayuda" onclick="javascript:$.cb.click_button_ayuda();"><i class="icon-question-sign"></i></a>
                                            <a class="btn" title="Compartir enlace a esta ubicación"><i class="icon-share"></i></a>
                                        </div>
                                    </div>
                                </form>
                                <!-- 
                                <div align="left" style="padding-top: 5px;">
                                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fcualbondi&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
                                    <br>
                                    <g:plusone></g:plusone>
                                </div>
                                !-->
                            </div>
                            <div class="tab-pane" id="2">
                                <form>
                                    <div class="input-prepend">
                                        <input type="text" size="16" id="inputLinea" class="span10" placeholder="Linea, ramal, recorrido" data-provide="typeahead">
                                        <span class="add-on"><i class="icon-search"></i></span>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div id="sidebarContenido">
                        </div>
                    </div>

                </div>
            </div>
            <div id="bloque_derecha" class="span9">
                <div id="map" style="background:lightblue;">

                </div>
            </div>
        </div>
{% endblock %}

{% block custom_scripts %}
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-typeahead-gist2204728.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;libraries=adsense&amp;sensor=false"></script>
{# <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css" /> #}


<script type="text/javascript">

GLOBAL_ci = "{{ ciudad_actual.slug }}"

$(function() {
    // todo esto inicial es para hacer bootstrap 100% height
    $("#sidebar").css("margin-top", "18px")
    $("#sidebar").css("overflow", "auto")
    $("body").css("padding-bottom","0px")
    $(".navbar").css("margin-bottom","0px")
    if ( $(window).width() > 980 ) {
        $("#map").height(($(window).height()-40)+"px")
        $("#sidebar").height(($(window).height()-58)+"px")
        $("body").css("padding-top","40px")
    }
    else {
        $("#map").height(($(window).height()-50)+"px")
        $("#sidebar").height(($(window).height()-58)+"px")
        $("body").css("padding-top","0px")
    }
    if ( $(window).width() < 456 )
        $("#map").css("margin-right", "0px")
    else
        $("#map").css("margin-right", "-20px")

    $(window).bind('resize', function() {
        $("#sidebar").css("margin-top", "18px")
        $("#sidebar").css("overflow", "auto")
        $("body").css("padding-bottom","0px")
        $(".navbar").css("margin-bottom","0px")
        if ( $(window).width() > 980 ) {
            $("#map").height(($(window).height()-40)+"px")
            $("#sidebar").height(($(window).height()-58)+"px")
            $("body").css("padding-top","40px")
            //esto no anda bien

                $("#sidebar").height(($(window).height()-58)+"px")

        }
        else {
            $("#map").height(($(window).height()-50)+"px")
            $("body").css("padding-top","0px")
            //esto no anda bien

                $("#sidebar").height(($(window).height()-68)+"px")

        }
        if ( $(window).width() < 456 )
            $("#map").css("margin-right", "0px")
        else
            $("#map").css("margin-right", "-20px")
    });


    // definicion inicial del mapa
    OpenLayers.ImgPath = "/media/css/openlayers/"
    map = new OpenLayers.Map("map", {theme: null})
    var gmap = new OpenLayers.Layer.Google(
        "Google Streets", {numZoomLevels: 20}
    );
    var osm = new OpenLayers.Layer.OSM();
    map.addLayers([gmap, osm]);
    //var gmap = new OpenLayers.Layer.Google("Google Streets", {visibility: false});
    //map.addLayers([osm, gmap]);
    //map.addControl(new OpenLayers.Control.LayerSwitcher());
    map.setCenter(new OpenLayers.LonLat{{ ciudad_actual.centro.coords }}.transform(
        new OpenLayers.Projection("EPSG:4326"),
        map.getProjectionObject()
    ), {{ ciudad_actual.zoom }});

    map.zoomOut() //esto es para que el mapa se redibuje (workaround de redraw)
    //map.setCenter(map.center())

    // estilos de los markers
    var styleMap = new OpenLayers.StyleMap();
    lookup = {
        // nombre:hovering:dragging
        "A:false:false": { externalGraphic: "/media/css/openlayers/markerA.png", graphicWidth: 20, graphicHeight: 34, graphicYOffset: -34, graphicOpacity: 1 },
        "A:true:false" : { externalGraphic: "/media/css/openlayers/markerA-hover.png", graphicWidth: 20, graphicHeight: 34, graphicYOffset: -34, graphicOpacity: 1 },
        "A:false:true" : { externalGraphic: "/media/css/openlayers/markerA-drag.png", graphicWidth: 20, graphicHeight: 50, graphicYOffset: -41, graphicOpacity: 1 },
        "A:true:true"  : { externalGraphic: "/media/css/openlayers/markerA-drag.png", graphicWidth: 20, graphicHeight: 50, graphicYOffset: -41, graphicOpacity: 1 },
        "B:false:false": { externalGraphic: "/media/css/openlayers/markerB.png", graphicWidth: 20, graphicHeight: 34, graphicYOffset: -34, graphicOpacity: 1 },
        "B:true:false" : { externalGraphic: "/media/css/openlayers/markerB-hover.png", graphicWidth: 20, graphicHeight: 34, graphicYOffset: -34, graphicOpacity: 1 },
        "B:false:true" : { externalGraphic: "/media/css/openlayers/markerB-drag.png", graphicWidth: 20, graphicHeight: 50, graphicYOffset: -41, graphicOpacity: 1 },
        "B:true:true"  : { externalGraphic: "/media/css/openlayers/markerB-drag.png", graphicWidth: 20, graphicHeight: 50, graphicYOffset: -41, graphicOpacity: 1 },
    }
    styleMap.addUniqueValueRules("default", "tipo", lookup);

    // creacion de las diferentes capas
    var markers = new OpenLayers.Layer.Vector( "Markers", {styleMap: styleMap} );
    var recorridos = new OpenLayers.Layer.Vector( "Recorridos", {styleMap: new OpenLayers.StyleMap({strokeWidth: 5}) });
    map.addLayer(recorridos)
    map.addLayer(markers)

    // proyeccion que se necesita para transformar proyecciones mas adelante
    var proj = new OpenLayers.Projection("EPSG:4326");

    // clase Marker (para manejar el markerA y marerB mas facil)
    function Marker(layer, id) {
        this.listo = false
        this.point = null
        this.layer = layer
        this.id = id
    }
    Marker.prototype.setPoint = function(point) {
        // setea el punto con latlng y lo pone en el mapa
        // point = new OpenLayers.Geometry.Point(lon, lat);
        if (!this.listo) {
            this.point = new OpenLayers.Feature.Vector(point, {tipo:this.id+":false:false"})
            this.layer.addFeatures([this.point])
        }
        else {
            this.point.geometry.x = point.x
            this.point.geometry.y = point.y
            this.point.geometry.clearBounds()
            //this.layer.drawFeature(this.point);
        }
        this.listo = true
        this.layer.redraw()
    }

    // dos objetos de la clase marker
    var markerA = new Marker(markers, "A")
    var markerB = new Marker(markers, "B")

    // manejo de clicks en el mapa
    //      creacion de los markers A y B
    //      busqueda por click en el mapa
    var clickHandler = new OpenLayers.Handler.Click(
        { 'map': map },
        {
            'click': function(evt) {
                var lonlat = map.getLonLatFromViewPortPx(evt.xy);
                point = new OpenLayers.Geometry.Point(lonlat.lon, lonlat.lat);
                if ( !markerA.listo )
                    markerA.setPoint(point)
                else
                    if ( !markerB.listo ) {
                        markerB.setPoint(point)
                        clickHandler.deactivate();
                        pagina = 1
                        buscarporclick(markerA.point.geometry, markerB.point.geometry)
                    }
            }
        }
    );

    // manejo del drag de los markers
    //      cambio de imagenes al draggear y onhover
    //      busqueda por ondrag
    dragControl = new OpenLayers.Control.DragFeature(
        markers,
        {
            onComplete: function(feature, pixel) {
                t = feature.attributes.tipo.split(":")
                feature.attributes.tipo=t[0]+":true:false"
                markers.redraw()
                pagina = 1
                buscarporclick(markerA.point.geometry, markerB.point.geometry)
            },
            onEnter: function(feature, pixel) {
                t = feature.attributes.tipo.split(":")
                feature.attributes.tipo=t[0]+":true:false"
                markers.redraw()
            },
            onLeave: function(feature, pixel) {
                t = feature.attributes.tipo.split(":")
                feature.attributes.tipo=t[0]+":false:false"
                markers.redraw()
            },
            onStart: function(feature, pixel) {
                t = feature.attributes.tipo.split(":")
                feature.attributes.tipo=t[0]+":true:true"
                markers.redraw()
            }
        }
    )
    map.addControl(dragControl)

    // activar el click y drag handlers
    clickHandler.activate()
    dragControl.activate()

    // buscador de lineas por sugerencia al tipear
    $('#inputLinea').attr("autocomplete","off")

/*
    $('#inputLinea').typeahead({
        source: function (typeahead, query) {
            console.log(query)
            $("#ajaxLoader").tmpl().appendTo($("#sidebarContenido").empty())
            $.ajax({
                url: "/api/recorridos/?ciudad="+GLOBAL_ci+"&q="+query,
                success: function (data) {
                    // data must be a list of either strings or objects
                    // data = [{'nombre': 'Joe',.. }, {'name': 'Henry'}, ...]
                    typeahead.process(data['resultados'])
                    //mostrarResultados(data)
                }
            })
        },
        onselect: function (obj) {
            //alert('Selected '+obj)
            mostrarResultados([obj])
        },
        property: "nombre",
        timeout: 100
    })
*/

    $('#inputLinea').keyup(function () {
        $("#ajaxLoader").tmpl().appendTo($("#sidebarContenido").empty())
        if ( ajaxInputLinea ) ajaxInputLinea.abort()
        pagina = 1
        inputLinea()
    })

    function inputLinea() {
        buscar = false
        ajaxInputLinea = $.ajax({
            url: "/api/recorridos/?c="+GLOBAL_ci+"&q="+$('#inputLinea').val()+"&p="+pagina,
            success: mostrarResultados
        })
    }

    var adUnitDiv = document.createElement('div');
    var adUnitOptions = {
        format: google.maps.adsense.AdFormat.HALF_BANNER,
        position: google.maps.ControlPosition.TOP,
        map: map.baseLayer.mapObject,
        visible: true,
        publisherId: 'ca-pub-1193419141108967'
    }
    adUnit = new google.maps.adsense.AdUnit(adUnitDiv, adUnitOptions);

    // variables "globales"
    var resultados = new Object()
    var poly       = null
    var pagina     = 1
    var ajaxInputLinea = false
    var buscar     = true //false si busca de A a B, true si busca por nombre de recorrido (es para llamar la funcion correcta al paginar)

    // aca arrancan las funciones de cualbondi que pueden llamarse desde el html
    // namespace de cualbondi que se ve desde afuera por mas que minifiquemos
    $.cb = new Object()

    // handler para el boton de ayuda
    $.cb.click_button_ayuda = function() {
        html = '<div>'
    	    html += '<h3 align="center">¿Como busco recorridos?</h3>'
            html += '<h4>Campos de búsqueda</h4>'
            html += '<p style="margin-left:5px">Escriba directamente en los campos de texto del panel superior. Puede considerar interseccion de calles, calle y número o lugares de interes. Vea los ejemplos debajo de los campos de búsqueda.</p>'
            html += '<hr>'
            html += '<h4>Click sobre el mapa</h4>'
            html += '<p style="margin-left:5px">Puede hacer click directamente sobre el mapa para indicar el Origen y Destino de su búsqueda. Luego puede arrastrar los marcadores A o B para editar su ubicación.</p>'
            html += '<hr>'
            html += '<h4>Lineas de micro</h4>'
            html += '<p style="margin-left:5px">Para buscar un recorrido completo de una linea de colectivo en particular, consulte la sección "Lineas de micro" del panel lateral izquierdo.</p>'
            html += '<hr>'
        html += '</div>'
        $("#sidebarContenido").html(html);
    }

    // handler para mostrar resultados, usa el template de listado de results
    $.cb.mostrar_resultado = function(id) {
        if ( typeof(id)==='undefined' )
            id = $("#sidebarContenido li:first").attr("id").slice(3)
        $("#sidebarContenido li").removeClass("active")
        $("#res"+id).addClass("active")
        recorridos.removeAllFeatures()
        poly = new OpenLayers.Format.WKT().read(resultados[id].ruta_corta);
        poly.geometry.transform(proj, map.getProjectionObject())
        recorridos.addFeatures([poly]);
    }

    // handler para buscar por origen y destino
    $.cb.click_button_buscar = function() {
        $("#ajaxLoader").tmpl().appendTo($("#sidebarContenido").empty())
        var data1 = null
        var data2 = null
        // muestra los resultados de la busqueda como sugerencia
        function mostrarResultadoCatastro(data, id) {
            data.id = id
            data = $.map(data, function(item, i){item.id = id; return item});
            if ( id == 1 ) data1=data
            else data2=data
            if ( data1 !== null && data2 !== null ) {
                $("#listSuggest").tmpl([{ data1: data1, data2: data2 }]).appendTo($("#sidebarContenido").empty())
            }
        }
        $.ajax({
            url: "/api/catastro/?query="+$("#inputDesde").val(),
            success: function (data) {
                mostrarResultadoCatastro(data, 1)
            }
        })
        $.ajax({
            url: "/api/catastro/?query="+$("#inputHasta").val(),
            success: function (data) {
                mostrarResultadoCatastro(data, 2)
            }
        })
    }

    // mueve el markerA o B a el punto seleccionado
    $.cb.marcarPunto = function(pointWKT, id) {
        // pointWKT es 'POINT(12.234 56.789)'
        // id es 1 para origen(markerA) y 2 para destino(markerB)
        var point = new OpenLayers.Format.WKT().read(pointWKT).geometry
        point.transform(proj, map.getProjectionObject())
        point = new OpenLayers.Geometry.Point(point.x, point.y);
        if ( id == 1 )
            markerA.setPoint(point)
        else if ( id == 2 )
            markerB.setPoint(point)
    }

    // busca una vez que se eligieron las sugerencias
    $.cb.seleccionarSugerencias = function() {
        if ( markerA.listo && markerB.listo ) {
            pagina = 1
            buscarporclick(markerA.point.geometry, markerB.point.geometry)
        }
    }

    // pasa a la siguiente pagina
    // n = -1: pagina anterior
    //      x: pagina x
    //      0: pagina siguiente
    $.cb.pagina = function(n) {
        if ( n < 0 )
            pagina = ( pagina > 1 ) ? pagina - 1 : 1;
        else if ( n == 0 )
            pagina+=1;
        else if ( n > 0)
            pagina = n;

        if ( buscar )
            buscarporclick(markerA.point.geometry, markerB.point.geometry)
        else
            inputLinea()
    }

    // envia peticion al server para buscar por latlng
    function buscarporclick(lla, llb) {
        buscar     = true
        $("#ajaxLoader").tmpl().appendTo($("#sidebarContenido").empty())
        lla = lla.transform(map.getProjectionObject(), proj)
        llb = llb.transform(map.getProjectionObject(), proj)
        $.get(
            "/api/recorridos/",
            {
                origen: lla.x+","+lla.y,
                destino: llb.x+","+llb.y,
                radio_origen: "500",
                radio_destino: "500",
                c: GLOBAL_ci,
                p: pagina
            },
            mostrarResultados
        );
        lla = lla.transform(proj, map.getProjectionObject())
        llb = llb.transform(proj, map.getProjectionObject())
    }

    // muestra los resultados devueltos por el server usando un template
    function mostrarResultados(data){
        res = data['resultados']
        if ( res.length === 0 )
            if ( pagina == 1 )
                $('#sidebarContenido').html("vacío")
            else
                pagina -= 1
        else {
            resultados = new Object()
            $.each(res, function(key, value) {
                resultados[value.id] = value
            });
            $("#listTempl").tmpl( [{ data: data }] ).appendTo($("#sidebarContenido").empty());
            $.cb.mostrar_resultado()
        }
    }


})
</script>

<script id="ajaxLoader" type="text/x-jquery-tmpl">
<center>
    <img src="/media/img/ajax-loader.gif" />
</center>
</script>

<script id="listTempl" type="text/x-jquery-tmpl">
<div><small>Página ${data['p']}</small><small class="pull-right">${data['cant']} resultados</small></div>
<div>
<ul class="nav nav-pills nav-stacked">
    {% templatetag openvariable %}tmpl(data['resultados']) "#itemTempl"{% templatetag closevariable %}
</ul>
{% templatetag openvariable %}tmpl(data) "#paginacionTempl"{% templatetag closevariable %}
</div>
</script>
<script id="itemTempl" type="text/x-jquery-tmpl"> 
    <li id="res${id}">
        <a href="#" onclick="javascript:$.cb.mostrar_resultado(${id});return false">
            <strong>${nombre}</strong>
            <br>
            de ${inicio} a ${fin}
            <br>
            a pie: ${long_pata}km
            <br>
            en bondi:${long_bondi}km
        </a>
    </li>
</script>

<!--TODO: HACER FUNCIONAR EL PAGINADOR EN EL TEMPLATE, LA API YA ANDA -->
<script id="paginacionTempl" type="text/x-jquery-tmpl">
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#" onclick="javascript:$.cb.pagina(-1);return false">«</a></li>
            <li><a href="#" onclick="javascript:$.cb.pagina(1);return false">1</a></li>
            <li class="disabled"><a>...</a></li>
            <li><a href="#" onclick="javascript:$.cb.pagina(${cant/long_pagina+((cant%long_pagina)?1:0)});return false">${cant/long_pagina+((cant%long_pagina)?1:0)}</a></li>
            <li><a href="#" onclick="javascript:$.cb.pagina(0);return false">»</a></li>
        </ul>
    </div>
</script>

<script id="listSuggest" type="text/x-jquery-tmpl">
<ul id="#sug1" class="nav nav-pills nav-stacked">
    {% templatetag openvariable %}tmpl(data1) "#itemSuggest"{% templatetag closevariable %}
</ul>
<hr>
<ul id="#sug2" class="nav nav-pills nav-stacked">
    {% templatetag openvariable %}tmpl(data2) "#itemSuggest"{% templatetag closevariable %}
</ul>
<button class="btn btn-primary" type="submit" onclick="javascript:$.cb.seleccionarSugerencias();return false">Buscar</button>
</script>
<script id="itemSuggest" type="text/x-jquery-tmpl">
    <li>
        <a id="" href="#" onclick="javascript:$.cb.marcarPunto('${geom}', ${id});return false">${nombre} <span style="font-size:0.6em">(${(precision*100).toFixed(2)}%)</span></a>
    </li>
</script>

{% endblock %}

{% block custom_top_scripts %}

{% endblock %}

{% block custom_styles %}

{% endblock %}
