{% extends "base.html" %}

{% block custom_styles %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="http://leaflet.github.com/Leaflet.draw/leaflet.draw.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" />
        <link rel="stylesheet" href="http://leaflet.github.com/Leaflet.draw/leaflet.draw.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="http://leaflet.github.com/Leaflet.draw/leaflet.draw.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.css" type="text/css" media="screen" />

    <style media="screen" type="text/css">
        invalid-data { border: 1px solid red; }
        .leaflet-draw-actions a {
            background-color: #3A87AD;;
        }
        .leaflet-draw-actions a:hover {
            background-color: #5AA7CD;;
        }
        .leaflet-draw-actions li:last-child {
            display: none;
        }
        .fancybox-outer {
            text-align: center;
        }
        .fancybox-outer img {
            cursor: pointer;
        }
    </style>
    
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
            appId      : 516530425068934,
            status     : true,
            cookie     : true,
            oauth      : true,
            xfbml      : true,
            
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse" style="z-index:30;">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/" style="background:url({{ STATIC_URL }}img/logo-navbar.png); height:25px; width:132px; padding:0; margin: 5px 20px 0 0;"></a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href>Editor Beta: {{ recorrido.linea.ciudad_set.all.0.nombre }} {{ recorrido.linea.nombre }} {{ recorrido.nombre }}</a></li>
                        <li><a href></a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="" onclick="return abrirAyuda()"> Ayuda</a></li>
                        <li><a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dFJERlREQjUyaE1iSkFDYnhOa2Nnbmc6MQ+"> Encuesta</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="alerts" style="z-index: 2040; position: absolute; top: 50px; left: 45px; right: 10px;">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Para comenzar</strong> mové los cuadrados y al terminar hacé click en guardar. Gracias por colaborar {{ user }}!
        </div>
    </div>
    <div id="map" style="position: absolute; top: 40px; left: 0; right: 0; bottom: 0;"></div>

    <!-- Modal -->
    <div id="modalayuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Ayuda</h3>
        </div>
        <div class="modal-body">
            <p>Para editar el recorrido arrastrá los cuadrados blancos (nodos).</p>
            <p>Para agregar nodos, hacé click sobre los cuadrados semitransparentes y arrstrálos a la posición que quieras.</p>
            <p>Cuando termines de editar, presioná el botón guardar que se encuentra arriba a la izquierda del mapa.</p>
            <p>Te agradecemos mucho tu interés en mejorar la calidad de la infromación.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $("#alertGuardado").hide();
        function abrirAyuda(){
            piwikLog("editor/ayuda");
            $('#modalayuda').modal();
            return false;
        }
        
        function addAlert(message, type) {
            $('#alerts').append(
                '<div class="alert '+ (type || '') + '">' +
                    '<button type="button" class="close" data-dismiss="alert">' +
                    '&times;</button>' + message + '</div>');
        }
        
        {% include "editor/dependencias.js" %}
        
        L.drawLocal.draw.toolbar.actions.title="Cancelar Dibujo"
        L.drawLocal.draw.toolbar.actions.text="Cancelar"
        L.drawLocal.draw.toolbar.buttons.polyline="Trazar un recorrido desde cero"
        //L.drawLocal.draw.toolbar.buttons.polygon="Draw a polygon"
        //L.drawLocal.draw.toolbar.buttons.rectangle="Draw a rectangle"
        //L.drawLocal.draw.toolbar.buttons.circle="Draw a circle"
        //L.drawLocal.draw.toolbar.buttons.marker="Draw a marker"
        //L.drawLocal.draw.handlers.circle.tooltip.start="Click and drag to draw circle."
        //L.drawLocal.draw.handlers.marker.tooltip.start="Click map to place marker."
        //L.drawLocal.draw.handlers.polygon.tooltip.start="Click to start drawing shape."
        //L.drawLocal.draw.handlers.polygon.tooltip.cont="Click to continue drawing shape."
        //L.drawLocal.draw.handlers.polygon.tooltip.end="Click first point to close this shape."
        L.drawLocal.draw.handlers.polyline.error="<strong>Error:</strong> La figura no puede tener partes que se crucen!"
        L.drawLocal.draw.handlers.polyline.tooltip.start="Haz click para comenzar un nuevo trazado desde cero."
        L.drawLocal.draw.handlers.polyline.tooltip.cont="Haz click para continuar el trazado."
        L.drawLocal.draw.handlers.polyline.tooltip.end="Haz click en el ultimo punto para finalizar el trazado."
        //L.drawLocal.draw.handlers.rectangle.tooltip.start="Click and drag to draw rectangle."
        //L.drawLocal.draw.handlers.simpleshape.tooltip.end="Release mouse to finish drawing."
        L.drawLocal.edit.toolbar.actions.save.title="Guardar Cambios."
        L.drawLocal.edit.toolbar.actions.save.text="Guardar"
        L.drawLocal.edit.toolbar.actions.cancel.title="Cancelar edición, descarta los cambios realizados."
        L.drawLocal.edit.toolbar.actions.cancel.text="Cancelar"
        L.drawLocal.edit.toolbar.buttons.edit="Editar trazado"
        //L.drawLocal.edit.toolbar.buttons.remove="Delete layers"
        //L.drawLocal.edit.handlers.edit.tooltip.text="Click en Guardar al terminar."
        //L.drawLocal.edit.handlers.edit.tooltip.subtext="Arrastra los cuadrados!";
        //L.drawLocal.edit.handlers.remove.tooltip.text="Click on a feature to remove"

        // Load map and base layer
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © Cualbondi & <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 19, attribution: osmAttrib});
        var map = new L.Map('map', {layers: [osm], center: new L.LatLng(-37.7772, 175.2756), zoom: 15, drawControlTooltips: false});

        // Create layer to edition
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        // Load the linestring
        linestring = L.GeoJSON.geometryToLayer({{ recorrido.ruta.geojson|safe }})
        linestring.setStyle({opacity: 1})
        drawnItems.addLayer(linestring);
        // set arrows
        var flechas = L.polylineDecorator(linestring, {
                patterns: [
                    {offset: '0%', repeat: 150, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: '#00A', opacity: 1, stroke: true}})}
                ]
            })
        flechas.addTo(map);

        // Draw control options
        var drawControl = new L.Control.Draw({
            draw: {
                position: 'topleft',
                /*polyline: {
                    guidelineDistance: 20,
                    shapeOptions: {
                        stroke: true,
                        color: '#4444EE',
                        weight: 4,
                        opacity: 1,
                        clickable: true
                        }
                    },*/
                polyline: false, /* */
                polygon: false,
                rectangle: false,
                circle: false,
                marker: false,
            },
            edit: {
                featureGroup: drawnItems,
                edit: {
                    selectedPathOptions: {
                        stroke: true,
                        color: '#0000AA',
                        weight: 5,
                        opacity: 1
                        //,dashArray: "10,10"
                        }
                    },
                remove: false
            }
        });

        // Linestring singleton, delete all other linestrings when adding new linestring.
        map.on('draw:created', function (e) {
            drawnItems.clearLayers();
            drawnItems.addLayer(e.layer);
        });

        var authenticated={{ user.is_authenticated|lower }}

        function login(){
            var u = $("#user").val();
            var p = $("#pass").val();
            $.ajax({
                "method": "POST",
                "url":"{% url apps.usuarios.views.iniciar_sesion %}",
                "data": {
                    "username": u,
                    "password": p
                    },
                "headers": {"X-CSRFToken": $.cookie('csrftoken') }
            }).done(function(data, textStatus, jqXHR){
                //console.log(200)
                // login success
                authenticated = true
                $.fancybox.close();
                guardarRecorrido()
            }).fail(function(data, textStatus, jqXHR){
                //console.log("otro" )
                // error login
                $("#user").addClass("invalid-data");
                $("#pass").addClass("invalid-data");
                authenticated = false
            })
        }
        
        var token = null;
        function loginFB(){
            piwikLog("editor/loginFB");
            FB.login(
                function(response) {
                    if (response.authResponse) {
                        token = response.authResponse.accessToken;
                        $.ajax(
                            {
                                "method": "POST",
                                "url": "/usuarios/login_ajax/facebook/",
                                "data": {
                                    //next: '',
                                    //process: 'authenticate',
                                    //expires_in: response.authResponse.expiresIn,
                                    access_token: token,
                                    //action: "reauthenticate",
                                    csrfmiddlewaretoken: $.cookie('csrftoken')
                                }
                                //,
                                //"beforeSend": function(xhr, settings) {
                                //    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
                                //}
                            }
                        ).done(function(data, textStatus, jqXHR){
                            //console.log(200)
                            // login success
                            authenticated = true
                            $.fancybox.close();
                            guardarRecorrido()
                        }).fail(function(data, textStatus, jqXHR){
                            //console.log("otro" )
                            // error login
                            $("#user").addClass("invalid-data");
                            $("#pass").addClass("invalid-data");
                            authenticated = false
                        })
                    } else {
                        //console.log('User cancelled login or did not fully authorize.');
                    }
                },
                { scope: 'email' }
            );

        }
        
        function openLogin() {
            $.fancybox({
                content: 'Gracias por tu edición!<br /><br />Ahora solo necesitamos que realices el login via facebook para poder guardar<br /><img onclick="loginFB()" src="{{STATIC_URL}}/img/loginfb.jpg"><br /><br />No te preocupes si tu edición no es perfecta, ya que deberá ser revisada por un moderador<br />Pronto agregaremos muchas mas funcionalidades.<br /><br />Muchas gracias por tu aporte!'
            });        
        }

        uuid = '';
        function guardarRecorrido(draft) {
            if (typeof draft === 'undefined')
                draft = true
            if (draft)
                mode = "draft"
            else
                mode = "save"
            try { jqxhrSave.cancel() } catch(err) {}
            jqxhrSave = $.ajax({
                "method": "POST",
                "url":"",
                "data": {
                    "mode": draft,
                    "uuid": uuid,
                    "geojson": JSON.stringify(drawnItems.getLayers()[0].toGeoJSON().geometry)
                    },
                "beforeSend": function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
                    }
            })
            .done(function(data) {
                uuid = JSON.parse(data).uuid;
                addAlert("<strong>Gracias!</strong> La edición fue guardada y será aceptada por un moderador.", "alert-success")
                //console.log(uuid)
            })
            .fail(function(jqXHR) {
                if ( ! $.fancybox.isOpen )
                    openLogin();
                uuid = JSON.parse(jqXHR.responseText).uuid;
                //console.log(uuid)
            })
        }

        var jqxhrSave
        // Guardar con estado saved en la base de datos via POST ajax
        map.on('draw:edited', function (e) {
            piwikLog("editor/guardar");
            if ( !authenticated ) {
                guardarRecorrido(true)
                openLogin()            
                throw "not auth"
            }
            else
                guardarRecorrido()
        });
        
        linestring.on('edit', function(e) {
            console.log('lineedit')
            map.removeLayer(flechas);
            flechas = L.polylineDecorator(linestring, {
                patterns: [
                    {offset: '0%', repeat: 150, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {color: '#00A', opacity: 1, stroke: true}})}
                ]
            })
            flechas.addTo(map);
        })
        
        map.on('draw:editstop', function (e) {
            setTimeout(enableEdit, 100);
        });
        
        map.on('draw:drawstart', function (e) {
            console.log('drawstart')
        });

        // Add draw control to map
        map.addControl(drawControl);

        function enableEdit() {
            // Enable edit handler hack from https://github.com/Leaflet/Leaflet.draw/issues/129
            var editHandler;
            for (var i in drawControl._toolbars) {
                if (typeof drawControl._toolbars[i]._modes.edit != 'undefined') {
                    editHandler = drawControl._toolbars[i]._modes.edit.handler;
                    editHandler.enable();
                }
            }
        }
        enableEdit();
        
        
        // Move map to actual linestring
        map.fitBounds(drawnItems.getBounds());


    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js"></script>
{% include "tracking.html" %}
{% endblock %}
