<!DOCTYPE html>
<html>
<head>
    <title>Editor de Cualbondi</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>


</head>
<body>
    <div id="map" style="position: absolute; top: 0; right: 0; width: 50%; height: 100%;"></div>

    <h3>Original</h3>
    <table>
        {% with original as e %}
        <tr>
            <td><a href="{% url "apps.editor.views.moderar_ediciones_id" id=e.id %}">{{ e.linea.nombre }} - {{ e.nombre }}</a></td>
        </tr>
        {% endwith %}
    </table>

    <h3>Derivaciones</h3>
    <div id="info" style="background:#EAA"></div>
    <table>
        {% for e in ediciones %}
        <tr>
            <td><a href="{% url "apps.editor.views.moderar_ediciones_uuid" uuid=e.uuid %}">uuid</a></td>
            <td>
                <table>
                    {% for m in e.log %}
                    <tr>
                        <td>{{ m.date_create|date:"d/m/Y H:i" }}</td>
                        <td>{{ m.created_by }}</td>
                        <td>{{ m.get_newStatus_display }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td><a href="{% url "apps.editor.views.moderar_ediciones_uuid_aprobar" uuid=e.uuid %}?next={{ request.path }}">Aprobar</a></td>
            <td><a href="{% url "apps.editor.views.moderar_ediciones_uuid_rechazar" uuid=e.uuid %}?next={{ request.path }}">Rechazar</a></td>
        </tr>
        {% endfor %}
    </table>

    <script>
        {% include "editor/dependencias.js" %}

        // Load map and base layer
        var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © Cualbondi & <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 19, attribution: osmAttrib});
        var map = new L.Map('map', {layers: [osm], center: new L.LatLng(-37.7772, 175.2756), zoom: 15 });

        // Create layer to edition
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        
        // Create layer to show diff
        var diffItems = new L.FeatureGroup();
        map.addLayer(diffItems);

        function loadpoly(linestring) {
            points = [];
            for ( var i = 0; i < linestring.coordinates.length; i++ ) {
                e = linestring.coordinates[i]
                points.push([e[1],e[0]])
            }
            linestring = L.polyline(points)
            linestring.setStyle({opacity: 0.5, color: '#606'})
            list.push(linestring)
            drawnItems.addLayer(linestring);
            L.polylineDecorator(linestring, {
                    patterns: [
                        {offset: '0%', repeat: 150, symbol: L.Symbol.arrowHead({pixelSize: 15, polygon: false, pathOptions: {stroke: true}})}
                    ]
                }).addTo(map);
            return linestring;
        }
         
        // Load the linestring
        var list = []
        {% for e in ediciones %}
            loadpoly({{ e.ruta.geojson|safe }});
        {% endfor %}
        
        var linestring = loadpoly({{ original.ruta.geojson|safe }})

         /*/// tratando de hacer un diff entre polilineas
        for ( var i = 0; i < list.length; i++) {
            var l = list[i];
            for ( j = 0; j < l.latlngs.length; j++) {
                var fragmento = []
                var p = l.latlngs[j];  // agarro el primer punto
                var ps = [];
                while ( k < linestring.latlngs.length and p ) { // busco en la poly original a ver si lo encuentro
                    k++;
                }
            }
        }
         ///*///
        
        var lengthdiff = false;
        var ps = []
        for ( var i = 0; i < list.length; i++) {
            var l = list[i];
            for ( j = 0; j < l._latlngs.length; j++) {
                var p = l._latlngs[j];  // agarro el primer punto
                var found = false;
                for ( k = 0; k < linestring._latlngs.length; k++) {
                    if ( linestring._latlngs[k].equals(p) ) {
                        found = true;
                    }
                }
                if ( ! found ) {
                    // pongo en ps los puntos no encontrados en la poly original
                    ps.push(p);
                    // marco los puntos que cambiaron con markers directamente
                    diffItems.addLayer(L.marker(p))
                }
            }
            if ( l._latlngs.length != linestring._latlngs.length )
                lengthdiff = true;
            if ( ! l._latlngs[0].equals(linestring._latlngs[0]) )
                diffItems.addLayer(L.marker(l._latlngs[0]))
            if ( ! l._latlngs[l._latlngs.length-1].equals(linestring._latlngs[linestring._latlngs.length-1]) )
                diffItems.addLayer(L.marker(l._latlngs[l._latlngs.length-1]))
            /*
            var pl;
            if ( ps.length == 1 ) {
                pl = L.marker(ps[0])
            }
            else {
                pl = L.polyline(ps);
                pl.setStyle({opacity: 1, color: '#F00', weight:8})
            }
            diffItems.addLayer(pl);
            */
        }
        
        var html = '';
        if ( lengthdiff ) html += 'El recorrido tiene distinta cantidad de nodos';
        if ( ps.length == 0 ) html += '<br> No hay diferencias con el original';
        L.DomUtil.get('info').innerHTML = html;
         
        function guardarRecorrido() {
            try { jqxhrSave.cancel() } catch(err) {}
            jqxhrSave = $.ajax({
                "method": "POST",
                "url":"",
                "data": {
                    "mode": "save",
                    "geojson": JSON.stringify(drawnItems.getLayers()[0].toGeoJSON().geometry)
                    },
                "beforeSend": function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken') );
                    }
            })
            .done(function() {  })
            .fail(function() { if(!$.fancybox.isOpen) openLogin() })
        }

        var jqxhrSave
        // Guardar con estado saved en la base de datos via POST ajax
        map.on('draw:edited', function (e) {
            guardarRecorrido()
            if ( !authenticated ) {
                openLogin()            
                throw "not auth"
            }
        });


        // Move map to actual linestring
        map.fitBounds(drawnItems.getBounds());


    </script>
    
</body>
</html>
