<!DOCTYPE html>
<html lang="es">
    <head>
	    <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="/media/img/favicon.png" />
    	<title>{% block title %}Cualbondi{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/media/css/fonts.css" rel="stylesheet" type="text/css" />
		<link href="/media/css/bootstrap.custom.min.css" rel="stylesheet" type="text/css" />
		<link href="/media/css/estilo.css" rel="stylesheet" type="text/css" />

        <meta name="google-site-verification" content="NVSk_0zcZdYua2ILJ4L0DvspOCmHujouihZPlo3mDco">
        <link href="https://plus.google.com/117455886911192315188" rel="publisher">

        {% block custom_styles %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="/media/js/respond.min.js"></script>
        <![endif]-->

        {% block custom_top_scripts %}{% endblock %}
	</head>
	<body>
        <!-- Incluir el SDK de Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% block navbar %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

	    <!-- Scripts -->
	    <script src="/media/js/jquery-1.7.1.min.js"></script>
	    <script src="/media/js/bootstrap.min.js"></script>

	    <script src="/media/js/date.format.js"></script>

	    <script src="/media/js/scripts.js"></script>
        <script type="text/javascript">
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

            $(document).ready(function(){
                $('.dropdown-toggle').dropdown();
                $('#submit_button').click(function(){
                    $('#login_form').submit();
                })
                $(".navbar-search input.search-query").keypress(function(event){
                    if (event.which==13){
                        $('#login_form').submit();
                    }
                })
                $(".alert-message").alert()

                {% block custom_ready_function %}{% endblock %}
            })
        </script>

		{% block custom_scripts %}{% endblock %}
	</body>
</html>
