<!DOCTYPE html>
<html lang="es">
    <head>
	    <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png" />
    	<title>{% block title %}Cualbondi{% endblock %}</title>
		<meta name="description" content="{% block meta_description %}Buscador de recorridos de bondis, colectivos, micros en Argentina.{% endblock %}">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ STATIC_URL }}css/bootstrap.custom.min.css" rel="stylesheet" type="text/css" />

        <meta name="google-site-verification" content="NVSk_0zcZdYua2ILJ4L0DvspOCmHujouihZPlo3mDco">
        <link href="https://plus.google.com/117455886911192315188" rel="publisher">

        {% block custom_styles %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="{{ STATIC_URL }}js/respond.min.js"></script>
        <![endif]-->

        {% block custom_top_scripts %}{% endblock %}
	</head>
	<body>

        {% block navbar %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

	    <!-- Scripts -->
	    <script src="{{ STATIC_URL }}js/jquery-1.9.0.min.js"></script>
	    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

		{% block custom_scripts %}{% endblock %}

        {% include "tracking.html" %}

	</body>
</html>
