{% extends "base.html" %}

{% block custom_styles %}
    <link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/estilo.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                {% include "navbar.html"%}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include "facebook_sdk.html" %}
    <div class="container">
        <div class="row-fluid">
            <div id="bloque_izquierda" class="span9">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        <button type="button" class="close android-app-alert-close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block bloque_izquierda %}{% endblock %}
            </div>
            <div id="bloque_derecha" class="span3">
                {% block bloque_derecha %}
                    <div style="margin-bottom:15px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- contenido_sidebar_1 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-1193419141108967"
                             data-ad-slot="2452705946"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    {% include "slider_anuncios.html" %}

                    <!--CAJA DE FACEBOOK-->
                    <!--[if (!IE)|(gt IE 7)]-->
                        <div style="margin-bottom:15px;"><iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcualbondi&amp;width=300&amp;height=360&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:360px;" allowTransparency="true"></iframe></div>
                    <!--[endif]-->

                    <div align="center" style="margin-bottom:15px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- contenido_sidebar_2 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-1193419141108967"
                             data-ad-slot="6882905540"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    <!--CAJA DE TWITTER-->
                    <div style="margin-bottom:15px;">
                        <div style="width:300px;">
                        <!--[if (!IE)|(gt IE 7)]-->
                            <a class="twitter-timeline" href="https://twitter.com/CualBondi" data-widget-id="293142996935905280">Tweets por @CualBondi</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        <!--[endif]-->
                        </div>
                    </div>

                    <div align="center" style="margin-bottom:15px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- contenido_sidebar_3 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:250px"
                             data-ad-client="ca-pub-1193419141108967"
                             data-ad-slot="9836371941"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html"%}
{% endblock %}

{% block custom_scripts %}

    <script src="{{ STATIC_URL }}js/date.format.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

            $('.dropdown-toggle').dropdown();
            $('#submit_button').click(function(){
                $('#login_form').submit();
            })
            $(".navbar-search input.search-query").keypress(function(event){
                if (event.which==13){
                    $('#login_form').submit();
                }
            })

            $('.slider-anuncios').bxSlider({
                pager: false,
                auto: true,
                autoHover: true,
                controls: false
            });
        })

    <!-- DISQUS Code -->
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'cualbondi'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{% endblock %}
