{% extends "base.html" %}

{% block navbar %}
    {% include "navbar.html"%}
{% endblock %}

{% block content %}
        <div class="row-fluid">
            <div id="bloque_izquierda" class="span9">
                {% block bloque_izquierda %}{% endblock %}
            </div>
            <div id="bloque_derecha" class="span3">
                {% block bloque_derecha %}
                <div align="center"><iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcualbondi&amp;width=240&amp;height=360&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:360px;" allowTransparency="true"></iframe></div>

                <h2>Registrate gratis!</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>

                <h2>Registrate gratis!</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
                {% endblock %}
            </div>
        </div>
{% endblock %}

{% block footer %}
    {% include "footer.html"%}
{% endblock %}
