div.tab-pane { overflow: hidden; }
div#mapa { width: 100%; height: 100%; }

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.985em;
}

#button-radio-container {
    height: 35px;
}

#button-radio-value {
    float: right;
}

#button-radio {
    width: 50%;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}

.slider {
    float: left;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.slider > .dragger {
    display: inline-block;
    width: 16px;
    height: 28px;
    top: 5px !important;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #BBB;
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.slider > .dragger:after {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    left: 1px; 
    top: 5px;
    background-position: -456px -118px;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
}

.slider > .dragger:hover {
    text-decoration: none;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.slider > .dragger.dragging {
    background-color: #E6E6E6;
    background-color: #D9D9D9 9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.slider > .track {
    background-color: #E6E6E6;
    background-color: #D9D9D9 9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    height: 14px;
    top: 12px !important;
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media (min-width: 980px) {
    body { padding-top: 40px; overflow: hidden; }
    #bloque_izquierda {
        float: left;
        width: 380px;
        margin-right: 5px;
        padding: 10px;
        overflow: auto;
        position: relative;
    }
    #bloque_derecha {
        float: left;
        overflow: hidden;
        position: relative;
        border-left: solid 1px #BBB;
    }

    /*sombra izquierda en el mapa*/
    div.shadowbox::before {
        -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2) inset;
        -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2) inset;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

@media (max-width: 979px) {
    body { padding-left: 20px; padding-right: 20px; }
    div.navbar-fixed-top { margin-left: -20px; margin-right: -20px; }
    #bloque_izquierda { margin-bottom: 5px; height: auto; }
    #bloque_derecha { width: 100%; height: 600px; border: solid 1px #BBB; position: relative;}

    /*sombra en el mapa*/
    div.shadowbox::before {
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2) inset;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2) inset;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2) inset;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}
